aniso8601==7.0.0
asgiref==3.2.3
Django
django-active-link
django-filebrowser-no-grappelli
django-filter
django-graphql-auth
django-graphql-jwt==0.3.0
django-htmx
django-jazzmin
graphene
graphene-django
graphql-core
graphql-relay
mysqlclient
mysql-connector-python
Pillow==8.4.0
pipenv==2021.11.23
promise==2.3
PyJWT==1.7.1
pytz==2019.3
PyMySQL==1.0.2
Rx==1.6.1
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.0