*{
    font-family:Times, serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.jazzmin-login-page, .app-products .content-wrapper {
   /* background-color: #0497dbd0;  Set a background color if the image doesn't cover the entire page */
   background-image: url("https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#jazzy-logo .img-circle{
    border-radius: 0px !important;
    box-shadow:none !important;
}
#jazzy-logo .brand-text{
   
    color: white;
    font-size: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin: auto !important;
}

brand-link navbar-success:hover {
    background-color: #00bc8c !important;
}

#id_tags {
    display: block;
    width: 100%;
    padding: 10px;
}

#changelist-search .form-group {
    margin: 10px !important;
}

.alert-success a {
    color: #ffffff !important;
}

.login-box .card{
    background-color: #ffffff85 !important;
    padding: 50px 50px !important;
}
.login-box  .input-group{
    margin-bottom: 30px !important;
}
.login-box  input{
    height: 40px;
    font-size: 18px;
    background-color: #ffffff85;
    color: #0053ac !important;
    font-family: roboto condescend;
    margin-bottom: 20px;
}

.input-group-text{
    background-color: rgb(0, 190, 248) !important;
    color: white !important;
}
.login-box  input::placeholder {
color: rgb(73, 73, 73) !important;
}

.login-box-msg{
    font-size: 25px;
    font-family: roboto condescend, sans-serif;
    font-weight: 600;
    color: #00aeff !important;
    text-shadow: 2px 2px black;

}

.login-box button{
    color: white !important;
    background-color: rgb(0, 190, 248) !important;
    font-size: 18px;
    font-family: roboto condescend, sans-serif;
    font-weight: 600;
    padding: 10px 0px !important;

}

/* ---------------------- FOOTER DETAILS ---------------------------- */
.main-footer{
    text-align: center;
    background-color: #ffffffda;
}
.main-footer .float-right{
    display: none !important;
}

/* ---------------------------- content details ----------------------*/
.app-products .content{
background-color: #ffffff85;
margin: 30px ;

}
.app-products .content .card{
    background-color: #ffffff00 !important;
    box-shadow: none !important;
    border: none !important;
    padding: 30px;
}