
<table width="100%" id="m_-47690755527067579outer_wrapper" style="background-color:#f7f7f7" bgcolor="#f7f7f7">
			<tbody><tr>
				<td></td>
				<td width="600">
					<div id="m_-47690755527067579wrapper" dir="ltr" style="margin:0 auto;padding:70px 0;width:100%;max-width:600px" width="100%">
						<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
							<tbody><tr>
								<td align="center" valign="top">
									<div id="m_-47690755527067579template_header_image">
																			</div>
									<table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-47690755527067579template_container" style="background-color:#fff;border:1px solid #dedede;border-radius:3px" bgcolor="#fff">
										<tbody><tr>
											<td align="center" valign="top">
												
												<table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-47690755527067579template_header" style="background-color:#0033a1;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:Helvetica,Roboto,Arial,sans-serif;border-radius:3px 3px 0 0" bgcolor="#f78f07">
													<tbody><tr>
														<td id="m_-47690755527067579header_wrapper" style="padding:36px 48px;display:block">
															<h1 style="font-family:Roboto,Arial,sans-serif;font-size:30px;font-weight:600;line-height:150%;margin:0;text-align:left;color:#ffffff;background-color:inherit" bgcolor="inherit">Nouvelle commande&nbsp;: <small style="font-weight: 300;">#2USIBFG8KT7D</small> </h1>
														</td>
													</tr>
												</tbody></table>
												
											</td>
										</tr>
										<tr>
											<td align="center" valign="top">
												
												<table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-47690755527067579template_body">
													<tbody><tr>
														<td valign="top" id="m_-47690755527067579body_content" style="background-color:#fff" bgcolor="#fff">
															
															<table border="0" cellpadding="20" cellspacing="0" width="100%">
																<tbody><tr>
																	<td valign="top" style="padding:48px 20px 10px">
																		<div id="m_-47690755527067579body_content_inner" style="color:#636363;font-family:Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left" align="left">

<p style="margin:0 0 16px">Vous avez passé la commande suivante de  &nbsp;:</p>

<h2 style="color:#0033a1;display:block;font-family:Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:0 0 18px;text-align:left">
	<a href="" style="font-weight:normal;text-decoration:underline;color:#202020" target="_blank" data-saferedirecturl="">[Commande #2USIBFG8KT7D]</a> ({{ instance.date_commande|date:"d F Y" }} )</h2>

<div style="margin-bottom:40px">
	<table cellspacing="0" cellpadding="6" border="1" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;width:100%;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif" width="100%">
		<thead>
			<tr>
				<th scope="col" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left" align="left">Produit</th>
				<th scope="col" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left" align="left">Quantité</th>
				<th scope="col" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left" align="left">Prix</th>
			</tr>
		</thead>
		<tbody>
            {% for obj in produits_commandes %}
				<tr>
		<td style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;word-wrap:break-word" align="left">
		{{ obj.product__name}}</td>
		<td style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif" align="left">
			{{obj.quantity}}		</td>
		<td style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif" align="left">
			<span>{{ obj.subtotal|floatformat:0 }} &nbsp;<span><sup>FCFA</sup></span></span></td>
	</tr>
	{% endfor %}
		</tbody>
		<tfoot>
								<tr>
						<th scope="row" colspan="2" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px" align="left">Sous-total&nbsp;:</th>
						<td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px" align="left"><span>{{ instance.total_amount|floatformat:0 }} &nbsp;<span><sup>FCFA</sup></span></span></td>
					</tr>
										<tr>
						<th scope="row" colspan="2" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left" align="left">Livraison&nbsp;:</th>
						<td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left" align="left">{{montant_livraison}} &nbsp;<sup>FCFA</sup></td>
		
										<tr>
						<th scope="row" colspan="2" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left" align="left">Total&nbsp;:</th>
						<td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left" align="left"><span>
							{% if montant_livraison == "2 000" %}
							{{instance.total_amount|add:2000 }}
							{% else %}
							{{instance.total_amount|floatformat:0 }}
							{% endif%}
			&nbsp;<span> <sup>FCFA</sup> </span></span></td>
					</tr>
							</tfoot>
	</table>
</div>

<p style="margin:0 0 16px"><strong>Nom &amp; Prénoms:</strong> {{instance.user.first_name}}&nbsp; {{instance.user.last_name}} </p>
<table id="m_-47690755527067579addresses" cellspacing="0" cellpadding="0" border="0" style="width:100%;vertical-align:top;margin-bottom:40px;padding:0" width="100%">
	<tbody><tr>
		<td valign="top" width="50%" style="text-align:left;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border:0;padding:0" align="left">
			<h2 style="color:#0033a1;display:block;font-family:Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:0 0 18px;text-align:left">Adresse Client</h2>

			<address style="padding:12px;color:#636363;border:1px solid #e5e5e5">
			<b>E-mail </b> :&nbsp; {{instance.user.email}} <br> <b>Téléphone :</b>  &nbsp; {{instance.user.telephone}}
			</address>
		</td>
			
			</tr>
</tbody></table>
<p style="margin:0 0 16px">Nous vous remercions pour la confiance !</p>
																	</td>
																</tr>
															</tbody></table>
															
														</td>
													</tr>
												</tbody></table>
												
											</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td align="center" valign="top">
									
									<table border="0" cellpadding="10" cellspacing="0" width="100%" id="m_-47690755527067579template_footer">
										<tbody><tr>
											<td valign="top" style="padding:0;border-radius:6px">
												<table border="0" cellpadding="10" cellspacing="0" width="100%">
													<tbody><tr>
														<td colspan="2" valign="middle" id="m_-47690755527067579credit" style="border-radius:6px;border:0;color:#8a8a8a;font-family:Helvetica,Roboto,Arial,sans-serif;font-size:12px;line-height:150%;text-align:center;padding:24px 0" align="center">
															<img src="https://athehams.com/assets/logo-header-footer-91a83fa0.png" alt="" width="200">
														</td>
													</tr>
												</tbody></table>
											</td>
										</tr>
									</tbody></table>
									
								</td>
							</tr>
						</tbody></table>
					</div>
				</td>
				<td></td>
			</tr>
		</tbody></table>