<style>
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
</style>
<div id="myModal" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel"> <span></span> </h6>
                <i class="fas fa-times text-danger btn-close fa-2x"></i>
            </div>
            <div class="modal-body">
                
                <div class="row mb-4">
                        <div class="col-md-6">
                            <h5> Nom & Prenoms Client : <span class="name-client"></span></h4>
                        </div>
                        <div class="col-md-6">
                            <h5> Date de Commande : <span class="date-commande"></span></h4>
                        </div>
                    </div>
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table align-middle mb-0 bg-white table-sm table-hover" id="detailCommandeProduitsAll">
                            <thead>
                                <th></th>
                                <th>Produit(s)</th>
                                <th>Variante(s)</th>
                                <th>Quantité(s)</th>
                                <th>Prix Unitaire(s)</th>
                                <th>Prix Total</th>

                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <th></th>
                                <th>Produit(s)</th>
                                <th>Variante(s)</th>
                                <th>Quantité(s)</th>
                                <th>Prix Unitaire(s)</th>
                                <th>Prix Total</th>
                            </tfoot>
                        </table>
                        <!-- /.table-->
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <h4> Montant total :  <span class="montant-total text-danger"></span></h4> 
                        </div>
                        
                    </div>
                </div>
                


            </div>
            <div class="modal-footer"></div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Ouvrir le modal lorsqu'un bouton est cliqué
        $("#openModalBtn").click(function() {
            $("#myModal").css("display", "block");
        });

        // Fermer le modal lorsque le bouton de fermeture est cliqué
        $(".btn-close").click(function() {
            $("#myModal").css("display", "none");
            $("#myModal").fadeOut(500);
        });

        // Fermer le modal lorsque l'arrière-plan est cliqué
        $(".modal").click(function(event) {
            if (event.target === this) {
                $(this).css("display", "none");
                $("#myModal").fadeOut(500);
            }
        });
    });
</script>