<style>
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
</style>
<div id="myModal" class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel"> <span></span> </h6>
                <i class="fas fa-times text-danger btn-close fa-2x"></i>
            </div>
            <div class="modal-body">
                <div class="col-12 row mt-3 mb-5">
                    <div class="col-md-6" style="height: 200px;">
                       <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators" style="position: absolute;bottom: -30px;">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfyc1rJTthBitnalsqnh0pA3ezR-bDrKOdSw&usqp=CAU" class="d-block w-100" height="20px" width="20px" alt="...">
                            </li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMNiG6Ka17G35FPZJAW1PFFgzi16eTR-l2Uw&usqp=CAU" class="d-block w-100" height="20px" width="20px" alt="...">

                            </li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTemuzF3iAUHcSnnwjNpKT6n_D6IG1W29_bSQ&usqp=CAU" class="d-block w-100" height="20px" width="20px" alt="...">

                            </li>
                        </ol>
                        <div class="carousel-inner" style="height: 200px;">
                            <div class="carousel-item active">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfyc1rJTthBitnalsqnh0pA3ezR-bDrKOdSw&usqp=CAU" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMNiG6Ka17G35FPZJAW1PFFgzi16eTR-l2Uw&usqp=CAU" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTemuzF3iAUHcSnnwjNpKT6n_D6IG1W29_bSQ&usqp=CAU" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <h4> Nom & Prenoms Client :</h4>
                        </div>
                        <div class="col-md-6">
                            <h4> Date de Commande :</h4>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="mb-4">
                            <h2 class="text-bold data-titre">Titre : <span class="text-primary"></span></h2>
                        </div>
                        <div class="mb-4">
                            <h3 class="text-bold data-date ">Date : <span class="text-primary"></span> </h3>

                        </div>
                        <div class="mb-4">
                            <h3 class="text-bold data-prix">Prix d'achat effectué : <span class="text-primary"></span></h3>
                        </div>
                        <div class="text-bold data-details mb-4">
                            <h3 class="text-primary">Details :</h3>
                            <p class="text-bold data-details"></p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer"></div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Ouvrir le modal lorsqu'un bouton est cliqué
        $("#openModalBtn").click(function() {
            $("#myModal").css("display", "block");
        });

        // Fermer le modal lorsque le bouton de fermeture est cliqué
        $(".btn-close").click(function() {
            $("#myModal").css("display", "none");
            $("#myModal").fadeOut(500);
        });

        // Fermer le modal lorsque l'arrière-plan est cliqué
        $(".modal").click(function(event) {
            if (event.target === this) {
                $(this).css("display", "none");
                $("#myModal").fadeOut(500);
            }
        });
    });
</script>